#score_wrapper {
    visibility: hidden;
}

.fragment.current-visible.current-fragment {
    z-index: 23;
    line-height: 1.144;
    text-align: right;
    opacity: 1;
    visibility: inherit;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
